<%include ../inc/head.ejs %>
<%include ../inc/top.ejs %>

<div id="page5">
    	        
        <div class="sub">
	       <div class="depth">
		   <h2>FAQ</h2>
                <ul>
                    <li class="home">HOME</li>
                    <li class="depth_arrow">FAQ</li>
                </ul>
            </div>
            

            
            <div style="padding: 10px 0px 10px;" class="s_conts">
             	<div style="background:#ffffff;" class="whitebox">
                    <ul>
                        <li><a href="/doc/faq_contents?f_id=2">대여 물품 등록시 유의 사항 공지</a></li>
                        <li><a href="/doc/faq_contents?f_id=1">내꺼니꺼가 드디어 오픈 했습니다.</a></li>
                    </ul>
                </div>
            </div>
            
            
   </div><!-- sub end -->
        
</div><!-- page end -->



<% include ../inc/bottom.ejs %>