<%include ../inc/head.ejs %>
<%include ../inc/top.ejs %>

<div id="page3">
    	        
        <div class="sub">
	       <div class="depth">
		   <h2>다이아결제</h2>
                <ul>
                    <li class="home">HOME</li>
                    <li class="depth_arrow">다이아결제</li>
                </ul>
            </div>
            

            
            <div class="s_conts">
             	<div class="box">
                    <h4>준비 단계</h4>
                </div>
            </div>
            
            
   </div><!-- sub end -->
        
</div><!-- page end -->





<% include ../inc/bottom.ejs %>