<%include ../inc/head.ejs %>
    <%include ../inc/top.ejs %>

        <div id="page1">
            <div class="sub">
                <div class="s_conts reatal01">

                    <!-- FlexSlider -->
                    <script defer src="/js/jquery.flexslider.js"></script>

                    <link rel="stylesheet" href="/css/flexslider.css" type="text/css" media="screen" />
                    <script type="text/javascript">
                        $(window).load(function() {
                            $('.flexslider').flexslider({
                                animation: "slide",
                                start: function(slider) {}
                            });
                        });
                    </script>
                    <div class="flexslider shadow">
                        <ul class="slides">
                            <li><img src="../img/main/white.jpg" class="goodsImage" id="ImageFirst"></li>
                            <li><img src="../img/main/white.jpg" class="goodsImage" id="ImageSecond"></li>
                        </ul>
                    </div>
                    <!--// E: visual_banner-->
                    <input id="gid" hidden value="<%=gid%>">
                    <table class="reatal02_t reatal01_t" id="rental01-2">
                        <colgroup>
                            <col style="width:25%">
                            <col style="width:75%">
                        </colgroup>
                        <tr>
                            <th>이름</td>
                                <td id="rvName"></td>
                        </tr>
                        <tr>
                            <th>가격</td>
                                <td id="rvPrice"></td>
                        </tr>
                        <tr>
                            <th>기간(일)</td>
                                <td id="rvTerm"></td>
                        </tr>
                        <tr>
                            <th class="detail">상세설명</td>
                                <td id="rvDetail"></td>
                        </tr>
                        <tr>
                            <th>등록자정보</td>
                                <td id="rvUserid"></td>
                        </tr>
                        <tr>
                            <th>규정</td>
                                <td id="rule"></td>
                        </tr>
                        <tr class="last">
                            <th>지도</td>
                                <td id="rvMap"></td>
                        </tr>
                    </table>
                    <br>
                    <p onclick="Delete();"><a>삭제하기</a></p>
                </div>





            </div>
            <!-- sub end -->

        </div>
        <!-- page end -->



        <script>
            getProduct();

            function loadProduct(data) {
                document.getElementById("rvName").innerHTML = data.name;
                document.getElementById("rvUserid").innerHTML = data.user_email;
                document.getElementById("rvPrice").innerHTML = data.price;

                document.getElementById("rvDetail").innerHTML = data.description;
                document.getElementById("rvTerm").innerHTML = data.rentPeriod;
                document.getElementById("ImageFirst").src = "../" + data.imagePath.first;
                document.getElementById("ImageSecond").src = "../" + data.imagePath.second;

                var weather = "";
                var goods_category = "";
                var category = "";

                if (data.weather == "hot")
                    weather = "더워요";
                else if (data.weather == "cold")
                    weather = "추워요";
                else if (data.weather == "dust")
                    weather = "미세먼지";
                else if (data.weather == "rain")
                    weather = "비";
                else if (data.weather == "sunny")
                    weather = "맑아요";

                if (data.goods_category == "sports")
                    goods_category = "레저/스포츠";
                else if (data.goods_category == "child")
                    goods_category = "유아 용품";
                else if (data.goods_category == "portable")
                    goods_category = "휴대 용품";
                else if (data.goods_category == "appliance")
                    goods_category = "가전 제품";
                else if (data.goods_category == "car")
                    goods_category = "자동차/공구";

                if (data.category == "private")
                    category = "개인";
                else if (data.category == "enterprise")
                    category = "기업";
                else if (data.category == "public")
                    category = "공공기관";

                document.getElementById("rule").innerHTML = weather + "__" + goods_category + "__" + category;
                setGoogleMap(data);

            }

            function Delete() {
                $.ajax({
                    type: 'GET',
                    url: BASE_URL + "API/DeleteProduct?gid=" + $("#gid").val(),
                    timeout: 2000,
                    success: function(data) {
                        console.log(data);
                        alert(data);
                        location.href = "/doc/registerlist";
                    },
                    error: function(err) {
                        console.log(err);
                        //toastr.warning(err.responseJSON.message);
                    }
                });
            }

            function getProduct() {
                $.ajax({
                    type: 'GET',
                    url: BASE_URL + "API/getProduct?gid=" + $("#gid").val(),
                    timeout: 2000,
                    success: function(data) {
                        console.log(data);
                        loadProduct(data);
                    },
                    error: function(err) {
                        console.log(err);
                        //toastr.warning(err.responseJSON.message);
                    }
                });
            }

            function setGoogleMap(data) {

                directionsDisplay = new google.maps.DirectionsRenderer;
                directionsService = new google.maps.DirectionsService;

                var pos = {
                    lat: parseFloat(data.location.lat),
                    lng: parseFloat(data.location.long)
                };
                map = new google.maps.Map(document.getElementById('rvMap'), {
                    zoom: 16,
                    center: {
                        lat: 36.144598,
                        lng: 128.393269
                    },
                    mapTypeId: 'roadmap'
                });
                directionsDisplay.setMap(map);
                directionsService.route({
                    origin: {
                        lat: 36.144598,
                        lng: 128.393269
                    }, //여기 있는 위도 경도가 내 위치로 가정
                    destination: pos,
                    travelMode: "TRANSIT"
                }, function(response, status) {
                    if (status == 'OK') {
                        directionsDisplay.setDirections(response);
                        var infoWindow = new google.maps.InfoWindow({
                            map: map
                        });
                        infoWindow.setPosition(pos);
                        infoWindow.setContent("My Destination!");

                    } else {

                        map = new google.maps.Map(document.getElementById('map'), {
                            zoom: 16,
                            center: pos,
                            mapTypeId: 'roadmap'
                        });
                        var marker = new google.maps.Marker({
                            position: pos,
                            map: map
                        });
                        var infoWindow = new google.maps.InfoWindow({
                            map: map
                        });
                        infoWindow.setPosition(pos);
                        infoWindow.setContent("My Destination!");

                    }
                });
            }
        </script>

        <% include ../inc/bottom.ejs %>