<div id="footerWrap">


    <div id="footerInner">
        <ul>
            <li><a href="#">회사소개</a></li>
            <li class="dot">&#183;</li>
            <li><a href="#">이용약관</a></li>
            <li class="dot">&#183;</li>
            <li><a href="#" class="fc_01">개인정보 취급방침</a></li>
        </ul>
    </div>

    <div class="footer_b">
        <div>
            <p>내꺼니꺼</p>
            <ul>
                <li>주소 : 경상북도 구미시 금오공과대학교</li>
                <li>대표자 : 12cm </li>
                <li>사업자등록번호 : 000-00-00000</li>
                <li>Tel : 053-000-0000</li>
                <li>Fax : 053-000-000</li>
                <li>E-mail : 0000@naver.com</li>
            </ul>
            <p class="copy">COPYRIGHT ⓒ 2018. 내꺼니꺼 .ALL RIGHTS RESERVED.</p>
        </div>
    </div>

</div>



</div>
<!-- Wrap -->

</body>

</html>