<script language="javascript">
    function GoPage(code) {
        if (!code) {
            window.location = "/";
        } else if (code == "main") {
            window.location = "/index";
        } else if (code == "rental01") {
            window.location = "/doc/rental01";
        } else if (code == "rental01_02") {
            window.location = "/doc/rental01_02";
        } else if (code == "rental01_03") {
            window.location = "/doc/rental01_03";
        } else if (code == "rental_recommendation") {
            window.location = "/doc/rental_recommendation";
        } else if (code == "rental01-2") {
            window.location = "/doc/rental01-2";
        } else if (code == "rental02") {
            window.location = "/doc/rental02";
        } else if (code == "payment") {
            window.location = "/doc/payment";
        } else if (code == "chatlist") {
            window.location = "/doc/chatlist";
        } else if (code == "login") {
            window.location = "/doc/login";
        } else if (code == "mypage") {
            window.location = "/doc/mypage";
        } else if (code == "faq") {
            window.location = "/doc/faq";
        } else if (code == "registerlist") {
            window.location = "/doc/registerlist";
        }



    }
</script>


<div id="wrap">

    <!-- header -->
    <div id="headerWrap">

        <div id="headerInner">
            <h1 class="logo">
                <a href="javascript:GoPage('main')"><img src="/img/common/logo.png" alt="내꺼니꺼"></a>
            </h1>
            <a href="#" class="search"><img src="/img/common/search_btn.png" alt="검색하기"></a>
            <a href="#" class="menu_btn"><img src="/img/common/mnavi_btn.png" alt="메뉴열기"></a>
        </div>

        <div id="gnbWrap">
            <ul class="login">
                <li style="color:white">
                    <%if(name)%>
                        <%=name%>
                </li>
                <li><a id="loginBtn" <%if(userid){%>onclick="logout();"<%}else{%>href="javascript:GoPage('login')"<%}%>><%if(userid){%>로그아웃<%}else{%>로그인<%}%></a></li>

            </ul>
            <p class="close_btn"><img src="/img/common/close_btn.png" alt="메뉴닫기"></p>
            <ul id="gnb">
                <li class="del2"><a href="#">대여하기</a>
                    <ul>
                        <li><a href="javascript:GoPage('rental01')">공공기관</a></li>
                        <li><a href="javascript:GoPage('rental01_02')">개인</a></li>
                        <li><a href="javascript:GoPage('rental01_03')">기업</a></li>
                        <li><a href="javascript:GoPage('rental_recommendation')">추천</a></li>
                    </ul>
                </li>
                <li><a href="javascript:GoPage('rental02')">대여물품등록</a></li>
                <li><a href="javascript:GoPage('payment')">다이아결제</a></li>
                <li class="del3"><a href="#">마이페이지</a>
                    <ul>
                        <li><a href="javascript:GoPage('chatlist')">chat list</a></li>
                        <li><a href="javascript:GoPage('registerlist')">등록리스트</a></li>
                        <li><a href="javascript:GoPage('login')">가라 로그인</a></li>
                    </ul>
                </li>
                <li><a href="javascript:GoPage('faq')">FAQ</a></li>
                <li id="userid" value="<%=userid%>" hidden>
                    <%=userid%>
                </li>

            </ul>
        </div>


    </div>
    <!-- //header -->